aa_attackpat.c
apatterns.c
barriers.c
conn.c
dpatterns.c
endgame.c
eyes.c
fuseki13.c
fuseki19.c
fuseki9.c
fusekipat.c
handipat.c
influence.c
josekidb.c
mcpat.c
owl_attackpat.c
owl_defendpat.c
owl_vital_apat.c
patterns.c
